.success {
  background: #e8f5e9;
  color: #388e3c;
}
.error {
  background: #ffebee;
  color: #d32f2f;
}
.warning {
  background: #fff8e1;
  color: #f57c00;
}
div {
  padding: 24px 16px;
  text-align: center;
  font-size: 1.1em;
}
